.checkbox-container{
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.checkbox-container div{
    margin-bottom: 0.5rem;
}
.checkbox-container div input{
    width: 1rem;
    height: 1rem;
}
.ACHCheckbox-item{
    margin-left: 1.5rem;
}
.checkbox-items{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.checkbox-items div{
    margin-right:4rem ;
}
.checkbox-items div input{
    width: 1rem;
    height: 1rem;
}
.item {
    display: flex;
    align-items: center;
    width: 9rem;
}